<form method="post" action="{{ path('app_saint_delete', {'id': saint.id}) }}" onsubmit="return confirm('{{ 'saint.actions.confirm_delete'|trans({}, 'saint') }}');" class="d-inline {{ form_class|default('mt-3') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saint.id) }}">
    <button type="submit" class="btn btn-danger {{ button_class|default('') }}">
        <i class="fas fa-trash"></i> {{ 'saint.actions.delete'|trans({}, 'saint') }}
    </button>
</form>
