{{ form_start(form) }}
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Saint Information</h5>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.name) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.url) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.file) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.canonical_status) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.canonization_date) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.canonizing_pope) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.saint_phrase) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.abstract) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.biography) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.image_link) }}
                </div>
            </div>

            {% if saint.images|length > 0 %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label">Current Images</label>
                    <div class="d-flex flex-wrap" data-controller="image-removal">
                        {% for image in saint.images %}
                            <div class="position-relative me-3 mb-3" data-image-removal-target="imageContainer" data-image-id="{{ image.id }}">
                                <div class="position-absolute top-0 end-0">
                                    <button type="button" class="btn btn-danger btn-sm rounded-circle d-flex align-items-center justify-content-center" 
                                            style="width: 32px; height: 32px;"
                                            data-action="image-removal#markForRemoval"
                                            data-image-removal-target="removeButton">
                                        <i class="fas fa-circle-xmark"></i>
                                    </button>
                                </div>
                                <img src="{{ asset('uploads/images/' ~ (image.thumbnailFilename ?? image.filename)) }}" 
                                     alt="Image of saint" 
                                     class="img-thumbnail" 
                                     style="width: 150px; height: 150px; object-fit: cover;">
                                <input type="hidden" name="remove_images[]" value="{{ image.id }}" disabled data-image-removal-target="removeInput">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <a href="{{ path('app_saint_index') }}" class="btn btn-outline-secondary">
                    <i class="fa fa-arrow-left"></i> Back to list
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> {{ button_label|default('Save') }}
                </button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
