{% extends 'base.html.twig' %}

{% block title %}Saint{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Saint Details</h1>

            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Saint Information</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <p><strong>ID:</strong> {{ saint.id }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Name:</strong> {{ saint.name }}</p>
                        </div>
                    </div>
                    {% if saint.relics is defined and saint.relics|length > 0 %}
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>Relics:</strong> {{ saint.relics|length }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_saint_index') }}" class="btn btn-outline-secondary">
                            <i class="bi bi-arrow-left"></i> Back to list
                        </a>
                        <div>
                            <a href="{{ path('app_saint_edit', {'id': saint.id}) }}" class="btn btn-primary">
                                <i class="bi bi-pencil"></i> Edit
                            </a>
                            {{ include('saint/_delete_form.html.twig', {'form_class': '', 'button_class': 'ms-2'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
