{{ form_start(form) }}
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">{{ 'relic.show_title'|trans({}, 'relic') }}</h5>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.address) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form_row(form.location) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form_row(form.saint) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.degree) }}
                </div>
            </div>

            {% if relic.images|length > 0 %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label">Current Images</label>
                    <div class="d-flex flex-wrap" data-controller="image-removal">
                        {% for image in relic.images %}
                            <div class="position-relative me-3 mb-3" data-image-removal-target="imageContainer" data-image-id="{{ image.id }}">
                                <div class="position-absolute top-0 end-0">
                                    <button type="button" class="btn btn-danger btn-sm rounded-circle d-flex align-items-center justify-content-center" 
                                            style="width: 32px; height: 32px;"
                                            data-action="image-removal#markForRemoval"
                                            data-image-removal-target="removeButton">
                                        <svg class="bi" width="16" height="16">
                                            <use href="#x-circle"></use>
                                        </svg>
                                    </button>
                                </div>
                                <img src="{{ asset('uploads/images/' ~ image.filename) }}" 
                                     alt="Image of relic" 
                                     class="img-thumbnail" 
                                     style="width: 150px; height: 150px; object-fit: cover;">
                                <input type="hidden" name="remove_images[]" value="{{ image.id }}" disabled data-image-removal-target="removeInput">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col-md-12">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <a href="{{ path('app_relic_index') }}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i> {{ 'relic.actions.back'|trans({}, 'relic') }}
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> {{ button_label|default('relic.form.submit'|trans({}, 'relic')) }}
                </button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
