{% extends 'base.html.twig' %}

{% block title %}{{ 'relic.show_title'|trans({}, 'relic') }}{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('relic/_header.html.twig', {'title': 'relic.show_title'|trans({}, 'relic')}) }}
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">{{ 'relic.show_title'|trans({}, 'relic') }}</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <p><strong>ID:</strong> {{ relic.id }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>{{ 'relic.table.address'|trans({}, 'relic') }}:</strong> {{ relic.address }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <p><strong>{{ 'relic.table.location'|trans({}, 'relic') }}:</strong> {{ relic.location }}</p>
                        </div>
                    </div>
                    {% if relic.saint %}
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>{{ 'relic.table.saint'|trans({}, 'relic') }}:</strong> <a href="{{ path('app_saint_show', {'id': relic.saint.id}) }}">{{ relic.saint }}</a></p>
                        </div>
                    </div>
                    {% endif %}

                    {% if relic.images|length > 0 %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h5>Images</h5>
                        </div>
                    </div>
                    <div class="row">
                        {% for image in relic.images %}
                            <div class="col-md-4 mb-3">
                                <img src="{{ asset('uploads/images/' ~ image.filename) }}" 
                                     alt="Image of {{ relic.saint ? relic.saint ~ '\'s' : '' }} relic" 
                                     class="img-fluid rounded shadow-sm">
                                <p class="small text-muted mt-1">{{ image.originalFilename }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_relic_index') }}" class="btn btn-outline-secondary">
                            <i class="bi bi-arrow-left"></i> {{ 'relic.actions.back'|trans({}, 'relic') }}
                        </a>
                        <div>
                            <a href="{{ path('app_relic_edit', {'id': relic.id}) }}" class="btn btn-primary">
                                <i class="bi bi-pencil"></i> {{ 'relic.actions.edit'|trans({}, 'relic') }}
                            </a>
                            {{ include('relic/_delete_form.html.twig', {'form_class': '', 'button_class': 'ms-2'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
