{% extends 'base.html.twig' %}

{% block title %}{{ 'error.generic.title'|trans({}, 'error') }}{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <img src="{{ asset('/images/relic.png') }}" width="100" height="100" class="mb-4" alt="{{ 'error.logo_alt'|trans({}, 'error') }}">
            <h1 class="display-4 mb-4">{{ 'error.generic.heading'|trans({}, 'error') }}</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="lead">{{ 'error.generic.server_returned'|trans({'status_code': status_code, 'status_text': status_text}, 'error') }}</p>
                    <p>{{ 'error.generic.broken'|trans({}, 'error') }}</p>
                    <p>{{ 'error.generic.try_later'|trans({}, 'error') }}</p>
                </div>
            </div>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <a href="{{ path('app_home') }}" class="btn btn-primary btn-lg px-4 gap-3">
                    <i class="fas fa-home me-2"></i>
                    {{ 'error.return_home'|trans({}, 'error') }}
                </a>
                <a href="javascript:history.back()" class="btn btn-outline-secondary btn-lg px-4">
                    {{ 'error.go_back'|trans({}, 'error') }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}